<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to gameglamors <%= @user.name %></h1>
		<p>
			Thank you for joining for gameglamors.
			Your user name is <%= @user.name %>. <br>
		</p>
		<p>
			To log in follow the link: <%= @url %>.
		</p>
	</body>
</html>